{% extends 'base.html' %}

{% block title %}
  Об авторе
{% endblock title %}

{% block content %}
  <div class="container py-5">
    <h1 class="text-center pb-3">Давай  знакомиться</h1>
    <div class="row shadow my-2">
      {% load thumbnail %}
      <aside class="col-12 col-md-3 border border-secondary basic rounded">
        <ul class="list-group list-group-flush basic">
          <li class="list-group-item basic">
            {% thumbnail object.photo "200" upscale=True as im %}
            <img class="my-3 mx-auto img-fluid card border-0"
                 src="{{ im.url }}"
                 alt="Image"
                 height="{{ im.height }}"
                 width="{{ im.width }}"/>
          {% endthumbnail %}
        </li>
        <li class="list-group-item basic">
          <h4>{{ object }}</h4>
        </li>
        <li class="list-group-item basic">
          <h5>{{ object.role }}</h5>
        </li>
        <li class="list-group-item basic">
          <h5>г.{{ object.city }}</h5>
        </li>
        <li class="list-group-item basic">
          <a class="btn"
             href="mailto:{{ object.user.email }}">{{ object.user.email }}</a>
        </li>
        {% for contact in object.contact_set.all %}
          <li class="list-group-item basic">
            <a class="btn btn-secondary"
               target="_blank"
               href="{{ contact.link }}">{{ contact.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </aside>
    <article class="p-0 col-12 col-md-9 border border-secondary rounded card">
      <div class="p-2 card-body">
        <div class="p-3 container-fluid">
          <div class="card border-0">
            <p >{{ object.description|safe }}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="pt-5"></div>
{% endblock content %}
