{% extends 'base.html' %}

{% block title %}
  Технологии
{% endblock title %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <h1>Стек технологий</h1>

      {% include 'about/includes/tech_sidebar.html' %}

      <article class="col-12 col-md-9 p-5 mx-auto lead">
        <div class="container p-5 bg-light card card-body border shadow">
          {% with request.resolver_match.captured_kwargs.number as number %}
            {% for obj in object_list %}
              {% if obj.number == number %}
                <h4 class="text-center">{{ obj.title }}</h4>
                <p>{{ obj.description|safe }}</p>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>
      </article>
    </div>
  </div>
{% endblock content %}
