{% extends 'base.html' %}

{% block title %}
  {{ form_title }}
{% endblock title %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card border border-secondary rounded shadow">
          <div class="card-header basic">
            Вы намереваетесь удалить запись №{{ object.id }}
          </div>
          <div class="card-body">
            <p>Вы уверены, что хотите удалить запись?</p>
            <div class="d-flex py-1">
              <a class="btn btn-primary m-auto"
                 href=" {% url 'posts:post_detail' post.id %} ">Отмена</a>
              <input class="btn btn-danger m-auto"
                     type="submit"
                     value="Удалить запись"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
