{% extends 'base.html' %}

{% block title %}
  Посты избранных авторов
{% endblock title %}

{% block content %}

  {% include 'posts/includes/switcher.html' %}

  <div class="container pb-5">
    <h1 class="py-3">Посты избранных авторов</h1>

    {% include 'posts/includes/paginator.html' %}

    <article>
      <div class="container">
        {% if not following %}
          <p>Вы не подписались ни на одного автора</p>
          <a href='{% url "posts:index" %}'>Идите на главную</a>
        {% else %}
          {% for post in page_obj %}

            {% include 'posts/includes/post_card.html' %}

          {% endfor %}
        {% endif %}
      </div>
    </article>

    {% include 'posts/includes/paginator.html' %}

  </div>
{% endblock content %}
